.about-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 12% 0;
}

.about_info{
    width: 35%;
}

.about_info h5{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
    color: #BDBDBD;
}
.about_info p{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #000000;
    margin: 15% 0;
    word-wrap: break-word;
}

.about_cards{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: center;
    align-items: center;
    
}
.about_cards:hover{
    color:white;
}

.card{
    width: 16em;
    height: 16em;
    background: #EBEBEB;
    margin-top: 16%;
}

.card:hover{
    cursor: pointer;
    background: #005FA3;
}
.card:hover h1{
    color:white;
}
.card:hover a{
    color:white;
}
.card:hover p{
    color:white;
}
  
.card h1{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 3.4em;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}


.card p {
    font-family: Lato;
    font-style: normal;
    font-weight:0.88em;
    line-height: 1.1em;
    color: #000000;
}

.card a{
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 0.88em;
    line-height: 1.1em;
    text-decoration-line: underline;
    color: #005FA3;
}
.card h1, .card a, .card p{
    margin-left: 8%;
    text-align: left;
}

