.contacts_wrapper{
    background: url(../img/Rectangle_contacts.png);
    padding: 4%;
}
.contacts_block{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.contacts_info h1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    line-height: 4.3em;
    color: #FFFFFF;
    padding: 1.9% 0;
}

.contacts_info p{
    Width: 90%;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #FFFFFF;
    padding: 3.1% 0;
}

.contacts_info li{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #FFFFFF;
}

.contacts_info li:first-child{        
    list-style-image: url(../img/cont_pone.png);
}
.contacts_info li:nth-child(2n){        
    list-style-image: url(../img/cont_mail.png);
}
.contacts_mail{
    display: flex;
    justify-content: space-between;
}

.form_wrapper{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6em;
    color: #FFFFFF;
    margin-top: 4%;
}
.form_wrapper input{
   	font-size: 1.3em;
    border: none;
	background: none;
    color:white;
    padding: 0.63em;
}
.form_name, .form_surname{
    display:inline;
}

.form_name input, .form_textarea input, .form_surname input{
    border-bottom: 1px solid #FFFFFF;
}


.form_textarea input{
    width: 34em;
	resize: none;
	height: 13em;
}

.form_btn{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
    color: #FFFFFF;
    background: #005FA3;
    border: none;
    margin-top: 10%;
    padding: 3% 9%;
    
}
.form_btn:hover{
    cursor: pointer;
    
}
.form_btn:disabled{
    opacity: 0.6;
}