.slider{
    widows: 100%;
    margin-top: 3.8%;
    position:relative;
   
}
.slider_info h1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.8em;
    color: #FFFFFF;
    width: 70%;
    height: 8%;
}
.slider_info{
    position:absolute;
    left: 20%;
    top:35%;
}

.slider_info button{
    background: #005FA3;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
    color: #FFFFFF;
    border:none;
    padding: 0.63em 1.6em;
}
.slider_info button:hover{
    cursor: pointer;
    background: rgb(115, 151, 177);
    opacity: 0.8;  
    border:none;
}
.slider_btn{
    position:absolute;
    left: 80%;
    top: 70%;
    width: 20%;
}

.slider_btn img{
    background: #FFFFFF;
    opacity: 0.9;
    
}
.slider_btn img:hover{
    cursor: pointer;
    opacity: 0.6;  
}
.dot{
    position: absolute;
    width: 20%;
    left: 18%;
    top: 70%;
}

.dot img{
    margin-right: 10%;
    width: 1.1em;
    height: 1.1em;
    padding: 0.31em;
}
.dot img:hover{
    opacity: 0.9;
    background:#FFFFFF;
    border-radius: 50%;
    cursor: pointer;   
}
.dot img.active{
    opacity: 0.9;
    background:#FFFFFF;
    border-radius: 50%;   
}


