.spec_wrapper{
    background: #EBEBEB;
    width: 100%;
    padding-top: 10%;
    padding-bottom:10%;        
}

.spec_title{
    margin-left: 21%;          
}

.spec_title p, h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD; 
    padding:0;   
    
}
.spec_title h2 {
    font-size: 48px;
    color: #333333;      
}

.spec_block{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: center;
    align-items: center;
      }

.spec_item{
    margin-top: 1.9em;
    margin-bottom: 1.9em;
    width: 19em;
    height: 19em;
    background-image: url(../img/spesialised.png);
    padding: 0;
  
}
.spec_item a{
    color: white;
    text-decoration: none;
    font-size: 2.1em;
    padding: 10px;
 }

.spec_item:hover{
    background-image: url(../img/spesialised_hover.png);
    cursor: pointer;
}
